@model Books; //Modelin Books türünden olduğunu gösteriyor.

<div class="container-fluid px-4 pt-3">
    <div class="container d-flex justify-content-center">
        <table class="table table-bordered">
            @* verilerin tablo içerisinde tek tek işlenebilmesi için Model tagıyla propertyler çekiliyor. *@
            <tbody>
                <tr>
                    <th class="text-center align-middle">Book Picture</th>
                    <td class=" text-center align-middle"><img src="@Model.ImagePath" alt="Alternate Text" class="" /></td> 
                </tr>
                <tr>
                    <th class="text-center align-middle">ID</th>
                    <td class="ps-4">@Model.Id</td>
                </tr>
                <tr>
                    <th class="text-center align-middle">Title</th>
                    <td class="ps-4">@Model.Title</td>
                </tr>
                <tr>
                    <th class="text-center align-middle">Author</th>
                    <td class="ps-4">@Model.Author</td>
                </tr>
                <tr>
                    <th class="text-center align-middle">Publication Year</th>
                    <td class="ps-4">@Model.PublicationYear</td>
                </tr>
                <tr>
                    <th class="text-center align-middle">ISBN</th>
                    <td class="ps-4">@Model.ISBN</td>
                </tr>
                <tr>
                    <th class="text-center align-middle">Genre</th>
                    <td class="ps-4">@Model.Genre</td>
                </tr>
                <tr>
                    <th class="text-center align-middle">Publisher</th>
                    <td class="ps-4">@Model.Publisher</td>
                </tr>
                <tr>
                    <th class="text-center align-middle">Page Count</th>
                    <td class="ps-4">@Model.PageCount</td>
                </tr>
                <tr>
                    <th class="text-center align-middle">Language</th>
                    <td class="ps-4">@Model.Language</td>
                </tr>
                <tr>
                    <th class="text-center align-middle">Summary</th>
                    <td class="ps-4">@Model.Summary</td>
                </tr>
                <tr>
                    <th class="text-center align-middle">Available Copies</th>
                    <td class="ps-4">@Model.AvailableCopies</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

