@model BooksViewModel
<div class="container-fluid px-4 pt-3">
    <h2 class="text-center mb-4 mt-3" style="text-decoration:underline">Details Page</h2>
    <div class="container d-flex justify-content-center">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class="text-center" style="width: 30%;">Title</th>
                    <td class="ps-4">@Model.Title</td>
                </tr>
                <tr>
                    <th class="text-center" style="width: 30%;">Author</th>
                    <td class="ps-4">@Model.Author</td>
                </tr>
                <tr>
                    <th class="text-center" style="width: 30%;">Publication Year</th>
                    <td class="ps-4">@Model.PublicationYear</td>
                </tr>
                <tr>
                    <th class="text-center" style="width: 30%;">ISBN</th>
                    <td class="ps-4">@Model.ISBN</td>
                </tr>
                <tr>
                    <th class="text-center" style="width: 30%;">Genre</th>
                    <td class="ps-4">@Model.Genre</td>
                </tr>
                <tr>
                    <th class="text-center" style="width: 30%;">Publisher</th>
                    <td class="ps-4">@Model.Publisher</td>
                </tr>
                <tr>
                    <th class="text-center" style="width: 30%;">Page Count</th>
                    <td class="ps-4">@Model.PageCount</td>
                </tr>
                <tr>
                    <th class="text-center" style="width: 30%;">Language</th>
                    <td class="ps-4">@Model.Language</td>
                </tr>
                <tr>
                    <th class="text-center" style="width: 30%;">Summary</th>
                    <td class="ps-4">@Model.Summary</td>
                </tr>
                <tr>
                    <th class="text-center" style="width: 30%;">Available Copies</th>
                    <td class="ps-4">@Model.AvailableCopies</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>